@import 'tailwindcss';

@import './fonts.css';
@import './tokens.css';
@import './theme.css';
@import './view-transition.css';

/* @theme inline {
} */

@custom-variant input-enabled (&:has(input:not(:disabled)));
@custom-variant input-disabled (&:has(input:disabled));

@custom-variant textarea-enabled (&:has(textarea:not(:disabled)));
@custom-variant textarea-disabled (&:has(textarea:disabled));

@custom-variant interactive-active (&:active:not(:disabled));
@custom-variant interactive-hover {
	@media (hover: hover) {
		&:hover:not(:disabled) {
			@slot;
		}
	}
}

html {
	scrollbar-gutter: stable;
}

body {
	background: var(--background);
	color: var(--foreground);

	font-family: var(--font-sans), Arial, Helvetica, sans-serif;
	font-variant-numeric: slashed-zero;

	text-rendering: optimizelegibility;
	scroll-behavior: smooth;
}

* {
	color-scheme: light dark;

	&::selection {
		background: var(--accent);
		color: white;
	}
}

/* Scrollbar */

@utility scrollbar {
	scrollbar-width: thin;
	scrollbar-color: var(--foreground-tertiary) var(--background);
}

/* Animation */

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Link */

a[target='_blank']:not(.root)::after {
	content: '';

	font-size: 0.92em;
	vertical-align: text-top;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 1em;
	height: 1em;

	background: currentColor;

	mask:
		url('/assets/icons/external-link.svg') center / 1em no-repeat,
		linear-gradient(#fff, #fff);
	mask-composite: exclude; /* не везде стабильно */
	-webkit-mask: url('/assets/icons/external-link.svg') center / 1em no-repeat;
}

/* Focus Ring */

.focus-ring-base {
	@apply outline-2 outline-offset-2 outline-foreground-secondary/0;
}

.focus-ring-visible {
	@apply focus-visible:outline-foreground-secondary/40;
}

.focus-ring-within {
	@apply focus-within:outline-foreground-secondary/40;
}

.group:focus-visible .focus-ring-group-visible {
	@apply outline-foreground-secondary/40;
}

/* Hover Accent Ring */

@property --ring-angle {
	syntax: '<angle>';
	initial-value: 260deg;
	inherits: false;
}

.hover-accent-ring::before {
	content: '';
	position: absolute;
	inset: calc(-1 * var(--ring-offset, 2px) - var(--ring-width, 2px));
	border-radius: calc(var(--ring-radius) + 4px);
	padding: var(--ring-width, 2px);

	--ring-angle: 260deg;

	background: conic-gradient(
		from var(--ring-angle),
		color-mix(in srgb, var(--color-accent), transparent 60%) 20%,
		var(--color-accent) 50%,
		var(--color-accent-secondary) 80%,
		color-mix(in srgb, var(--color-accent), transparent 60%) 100%
	);

	mask:
		linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	mask-composite: exclude;

	opacity: 0;
	pointer-events: none;
	transition: opacity 0ms ease-in-out;
}

.hover-accent-ring:hover:not(:disabled)::before {
	opacity: 1;
	animation: accent-ring-spin 1s cubic-bezier(0.42, 0.07, 0.19, 0.97) forwards;
}

@keyframes accent-ring-spin {
	to {
		--ring-angle: 480deg;
	}
}

/* Carousel Fade */

@property --carousel-fade-start {
	syntax: '<length-percentage>';
	inherits: false;
	initial-value: 0px;
}

@property --carousel-fade-end {
	syntax: '<length-percentage>';
	inherits: false;
	initial-value: 0px;
}

.carousel-fade {
	mask-image: linear-gradient(
		to right,
		transparent 0,
		black var(--carousel-fade-start),
		black calc(100% - var(--carousel-fade-end)),
		transparent 100%
	);

	-webkit-mask-image: linear-gradient(
		to right,
		transparent 0,
		black var(--carousel-fade-start),
		black calc(100% - var(--carousel-fade-end)),
		transparent 100%
	);
}

.carousel-fade[data-animate] {
	transition:
		--carousel-fade-start 100ms ease-out,
		--carousel-fade-end 100ms ease-out;
}

@media (prefers-reduced-motion: reduce) {
	.carousel-fade[data-animate] {
		transition-duration: 0ms;
	}
}
