@theme inline {
	/* Layout */

	--spacing-surface: var(--layout-surface);
	--radius-surface: var(--layout-surface-radius);

	--spacing-app: var(--layout-app);

	/* Font */

	--text-2xs: 0.625rem;
	--text-2xs--line-height: 0.75rem;

	/* Palette */

	--color-gray-50: var(--palette-kimberly-50);
	--color-gray-100: var(--palette-kimberly-100);
	--color-gray-200: var(--palette-kimberly-200);
	--color-gray-300: var(--palette-kimberly-300);
	--color-gray-400: var(--palette-kimberly-400);
	--color-gray-500: var(--palette-kimberly-500);
	--color-gray-600: var(--palette-kimberly-600);
	--color-gray-700: var(--palette-kimberly-700);
	--color-gray-800: var(--palette-kimberly-800);
	--color-gray-900: var(--palette-kimberly-900);
	--color-gray-950: var(--palette-kimberly-950);

	--color-rose-50: var(--palette-alizarin-crimson-50);
	--color-rose-100: var(--palette-alizarin-crimson-100);
	--color-rose-200: var(--palette-alizarin-crimson-200);
	--color-rose-300: var(--palette-alizarin-crimson-300);
	--color-rose-400: var(--palette-alizarin-crimson-400);
	--color-rose-500: var(--palette-alizarin-crimson-500);
	--color-rose-600: var(--palette-alizarin-crimson-600);
	--color-rose-700: var(--palette-alizarin-crimson-700);
	--color-rose-800: var(--palette-alizarin-crimson-800);
	--color-rose-900: var(--palette-alizarin-crimson-900);
	--color-rose-950: var(--palette-alizarin-crimson-950);

	--color-yellow-50: var(--palette-gamboge-50);
	--color-yellow-100: var(--palette-gamboge-100);
	--color-yellow-200: var(--palette-gamboge-200);
	--color-yellow-300: var(--palette-gamboge-300);
	--color-yellow-400: var(--palette-gamboge-400);
	--color-yellow-500: var(--palette-gamboge-500);
	--color-yellow-600: var(--palette-gamboge-600);
	--color-yellow-700: var(--palette-gamboge-700);
	--color-yellow-800: var(--palette-gamboge-800);
	--color-yellow-900: var(--palette-gamboge-900);
	--color-yellow-950: var(--palette-gamboge-950);

	--color-green-50: var(--palette-malachite-50);
	--color-green-100: var(--palette-malachite-100);
	--color-green-200: var(--palette-malachite-200);
	--color-green-300: var(--palette-malachite-300);
	--color-green-400: var(--palette-malachite-400);
	--color-green-500: var(--palette-malachite-500);
	--color-green-600: var(--palette-malachite-600);
	--color-green-700: var(--palette-malachite-700);
	--color-green-800: var(--palette-malachite-800);
	--color-green-900: var(--palette-malachite-900);
	--color-green-950: var(--palette-malachite-950);

	--color-sky-50: var(--palette-picton-blue-50);
	--color-sky-100: var(--palette-picton-blue-100);
	--color-sky-200: var(--palette-picton-blue-200);
	--color-sky-300: var(--palette-picton-blue-300);
	--color-sky-400: var(--palette-picton-blue-400);
	--color-sky-500: var(--palette-picton-blue-500);
	--color-sky-600: var(--palette-picton-blue-600);
	--color-sky-700: var(--palette-picton-blue-700);
	--color-sky-800: var(--palette-picton-blue-800);
	--color-sky-900: var(--palette-picton-blue-900);
	--color-sky-950: var(--palette-picton-blue-950);

	--color-blue-50: var(--palette-blue-50);
	--color-blue-100: var(--palette-blue-100);
	--color-blue-200: var(--palette-blue-200);
	--color-blue-300: var(--palette-blue-300);
	--color-blue-400: var(--palette-blue-400);
	--color-blue-500: var(--palette-blue-500);
	--color-blue-600: var(--palette-blue-600);
	--color-blue-700: var(--palette-blue-700);
	--color-blue-800: var(--palette-blue-800);
	--color-blue-900: var(--palette-blue-900);
	--color-blue-950: var(--palette-blue-950);

	--color-pink-50: var(--palette-hollywood-cerise-50);
	--color-pink-100: var(--palette-hollywood-cerise-100);
	--color-pink-200: var(--palette-hollywood-cerise-200);
	--color-pink-300: var(--palette-hollywood-cerise-300);
	--color-pink-400: var(--palette-hollywood-cerise-400);
	--color-pink-500: var(--palette-hollywood-cerise-500);
	--color-pink-600: var(--palette-hollywood-cerise-600);
	--color-pink-700: var(--palette-hollywood-cerise-700);
	--color-pink-800: var(--palette-hollywood-cerise-800);
	--color-pink-900: var(--palette-hollywood-cerise-900);
	--color-pink-950: var(--palette-hollywood-cerise-950);

	/* Semantic */

	--color-accent: var(--accent);
	--color-accent-secondary: var(--accent-secondary);
	--color-accent-tertiary: var(--accent-tertiary);

	--color-danger: var(--danger);
	--color-danger-secondary: var(--danger-secondary);
	--color-danger-tertiary: var(--danger-tertiary);

	--color-success: var(--success);
	--color-success-secondary: var(--success-secondary);
	--color-success-tertiary: var(--success-tertiary);

	--color-warning: var(--warning);
	--color-warning-secondary: var(--warning-secondary);
	--color-warning-tertiary: var(--warning-tertiary);

	--color-info: var(--info);
	--color-info-secondary: var(--info-secondary);
	--color-info-tertiary: var(--info-tertiary);

	--color-link: var(--link);
	--color-link-secondary: var(--link-secondary);

	--color-foreground: var(--foreground);
	--color-foreground-secondary: var(--foreground-secondary);
	--color-foreground-tertiary: var(--foreground-tertiary);
	--color-foreground-inverse: var(--foreground-inverse);

	--color-separator: var(--separator);

	--color-surface: var(--surface);
	--color-surface-secondary: var(--surface-secondary);

	--color-background: var(--background);
	--color-background-inverse: var(--background-inverse);

	/* Social */

	--color-github: var(--social-github);
	--color-github-secondary: var(--social-github-secondary);

	--color-linkedin: var(--social-linkedin);
	--color-linkedin-secondary: var(--social-linkedin-secondary);

	--color-telegram: var(--social-telegram);
	--color-telegram-secondary: var(--social-telegram-secondary);

	--color-vk: var(--social-vk);
	--color-vk-secondary: var(--social-vk-secondary);

	--color-hh: var(--social-hh);
	--color-hh-secondary: var(--social-hh-secondary);
}
