@import 'tailwindcss';
@import './fonts.css';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--font-sans: var(--font-tt-interphases-pro);
	--font-mono: var(--font-tt-interphases-pro-mono);

	--font-sans-var: var(--font-tt-interphases-pro-variable);
	--font-mono-var: var(--font-tt-interphases-pro-mono-variable);

	--font-condensed: var(--font-tt-interphases-pro-condensed);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}
